@import "../../../app/style/base";

.avatar {
  width: $mp-avatar-container-size;
  height: $mp-avatar-container-size;
  border-radius: 50%;
  overflow: hidden;

  color: $mp-avatar-group-border-color;
  border: 1px solid $mp-avatar-group-border-color;

  &.large {
    width: $mp-avatar-container-size-lg;
    height: $mp-avatar-container-size-lg;
  }

  &.small {
    width: $mp-avatar-container-size-sm;
    height: $mp-avatar-container-size-sm;
  }
}
