.imageItem {
  display: inline-block; // 2
  width: 100%; // 3
  break-inside: avoid; // 4

  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 1;
  }
}

.heart {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 1.5rem;
  height: 1.5rem;

  color: $mp-color-text-description;
}

.image {
  width: 100%;
}
