.ButtonIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent !important;
  box-shadow: none !important;

  &:hover {
    border-color: transparent !important;
  }
}

.heart {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 1.5rem;
  height: 1.5rem;

  color: $mp-color-text-description;
}

.image {
  width: 100%;
}
